<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{image}}"/>
      </div>
      <div class="item item-divider">
      <div class="button-bar">
        <a class="button icon-left ion-chevron-left button-clear button-dark font" ng-click="backDay()">Back</a>
        <h2 class="font" style="line-height: 42px">{{date | date:"MM/dd/yyyy"}}</h2>
        <a class="button icon-right ion-chevron-right button-clear button-dark font" ng-click="forwardDay()">Next</a>
      </div>
      </div>
    </div>
    <!--<div class="button-bar">
      <a class="button icon-left ion-chevron-left button-clear button-dark font" ng-click="backDay()">Back</a>
      <h4 class="font">{{date | date:"MM/dd/yyyy"}}</h4>
      <a class="button icon-right ion-chevron-right button-clear button-dark font" ng-click="forwardDay()">Next</a>
    </div>-->
    <br />
    <h4>episode count ({{messages.length}})</h4>
    <div class="list card" ng-repeat="message in messages">
      <a href="#/tab/events/{{message}}" class="item item-icon-left font">
        <i class="icon {{icon}}"></i>
        {{message.count.length + " events "}}{{message.start * 1000 | date:"'at' h:mm a"}}
      </a>
    </div>
  </ion-content>
</ion-view>
