<ion-view view-title="Events">
  <ion-content>
    <!--<div class="well">
      <img ng-src="{{image}}"/>
      <ul ng-repeat="(key, value) in noiseCount">
        <li><a href="#">{{key}} : {{noiseCount[key]}}</a></li>
          <ul ng-repeat="message in sep[key]">
              <li><a href="#">{{message}}</a></li>
          </ul>
        </ul>
    </div>-->
    <div class="list card">
      <div class="item item-image">
        <img ng-src="{{image}}"/>
      </div>
      <div class="item item-divider text-center">
        <h2>{{start * 1000 | date:'HH:mm:ss'}} - {{end * 1000 | date:'HH:mm:ss'}}</h2>
        <h2>Events ({{messages.length}})</h2>
      </div>
    </div>
    <div>
      <ion-list>
        <div class="card" ng-repeat="(key, value) in sep">
          <ion-item class="item-stable"
                    ng-click="toggleGroup(key)"
                    ng-class="{active: isGroupShown(key)}">
            <!--<i class="icon" ng-class="isGroupShown(key) ? 'ion-minus' : 'ion-plus'"></i>-->
            <i class="icon" ng-class="getIcon(value.reason)"></i>
            &nbsp;
            {{value.reason}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(key)">
            {{value.time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
          </ion-item>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>